#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        mac_ss: mac_ss {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_WIN &kp LEFT_CONTROL &kp LEFT_SHIFT &kp KP_NUMBER_4>,
                <&macro_release>;

            label = "MAC_SS";
        };

        pw: pw {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(I) &kp LS(W) &kp O &kp E &kp F &kp S &kp H &kp D &kp F &kp H &kp N3 &kp P &kp D &kp F &kp LS(P) &kp EXCL>;
            label = "PW";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------
            // |  `  |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  |  0  |  -  |  =  |  BKSP |
            // | TAB  |  Q  |  W  |  E  |  R  |  T  |  Y  |  U  |  I  |  O  |  P  |  [  |  ]  |   |  |
            // | CAPS  |  A  |  S  |  D  |  F  |  G  |  H  |  J  |  K  |  L  |  ;  |  '  |     ENTER |
            // |  SHIFT    |  Z  |  X  |  C  |  V  |  B  |  N  |  M  |  ,  |  .  | /   |      SHIFT  |
            // |  CRTL  |  Fn1  |  ALT  |              SPACE              |  Fn1  |  ALT  |  CTRL |
            // ------------------------------------------------------------------------------------------
            // some change

            bindings = <
&kp ESCAPE    &kp N1     &kp N2        &kp N3  &kp N4     &kp N5         &kp N6  &kp N7  &kp N8     &kp N9   &kp N0    &kp MINUS  &kp EQUAL  &kp BSPC
&kp TAB       &kp Q      &kp W         &kp E   &kp R      &kp T          &kp Y   &kp U   &kp I      &kp O    &kp P     &kp LBKT   &kp RBKT   &kp BSLH
&kp LEFT_ALT  &kp A      &kp S         &kp D   &kp F      &kp G          &kp H   &kp J   &kp K      &kp L    &kp SEMI  &kp SQT    &kp RET
&kp LSHFT     &kp Z      &kp X         &kp C   &kp V      &kp B          &kp N   &kp M   &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
              &kp LCTRL  &kp LEFT_WIN  &mo 2   &kp SPACE  &kp RIGHT_WIN  &mo 1           &kp RCTRL
            >;
        };

        raise {
            bindings = <
&kp ESC     &kp F1        &kp F2        &kp F3        &kp F4  &kp F5  &kp F6    &kp F7  &kp F8     &kp F9  &kp F10    &kp F11    &kp F12     &kp DEL
&trans      &mac_ss       &kp UP        &pw           &trans  &trans  &trans    &trans  &trans     &trans  &trans     &kp HOME   &kp END     &trans
&bt BT_CLR  &kp LEFT      &kp DOWN      &kp RIGHT     &trans  &trans  &trans    &trans  &trans     &trans  &trans     &kp PG_UP  &sys_reset
&trans      &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &trans  &trans  &trans    &trans  &trans     &trans  &kp PG_DN  &trans
            &kp LCTRL     &trans        &kp LALT      &trans  &trans  &kp RALT          &kp RCTRL
            >;
        };

        layer_2 {
            bindings = <
&pw     &trans  &trans     &trans     &trans     &trans  &trans  &trans    &trans    &trans     &trans  &trans  &trans  &trans
&trans  &trans  &trans     &kp ENTER  &trans     &trans  &trans  &trans    &kp UP    &trans     &trans  &trans  &trans  &trans
&trans  &mo 3   &kp LSHFT  &kp DEL    &kp LCTRL  &trans  &trans  &kp LEFT  &kp DOWN  &kp RIGHT  &trans  &trans  &trans
&trans  &trans  &trans     &kp HOME   &kp END    &trans  &trans  &trans    &trans    &trans     &trans  &trans
        &trans  &trans     &trans     &trans     &trans  &trans            &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans                &trans                 &trans          &trans           &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp EQUAL             &kp GREATER_THAN       &trans          &trans           &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LEFT_BRACE  &kp RIGHT_BRACE  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans                &trans                 &trans          &trans           &trans  &trans  &trans  &trans  &trans  &trans
        &trans  &trans                &trans                 &trans          &trans           &trans          &trans
            >;
        };
    };
};
